/* Background */
body {
    text-align: center;
    background-color: #282c34;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
}

.bg {
    /* position: fixed; */
    /* left: 0; */
}
/* NavBar */
.navbar {
    display: flex;
    color: #b94f4f;
}
  
.nav {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* background-color: rgb(218, 141, 0); */
    position: fixed;
    top: 0;
    width: 100%;
}

.nav li {
    float: left;
    display: block;
    margin-left: 32px;
    margin-right: 32px;
    margin-top: 8px;
    margin-bottom: 8px;
    color: white;
    background-color: rgb(244, 103, 21);
    border-radius: 5px;
    text-align: center;
    text-transform: uppercase;
    padding: 14px 16px;
    text-decoration: none;
    cursor: pointer;
    box-shadow: 0 5px 0 rgb(187, 76, 13);
    transition: 0.2s ease-out;
}

.nav li:active {
    box-shadow: 0 2px 0 rgb(187, 76, 13);
    transform: translateY(3px);
}  

.nav li:hover {
    background-color: #ff8d4b;
}

/* Pop-up Window */

.perspective {
    background-color: rgba(26, 62, 138, 0.8);
    top: 10%;
    left: 15%;
    width: 70%;
    height: 80%;
    position: fixed;
    transform-style: preserve-3d;
    /* transform: rotateX(-45deg) rotateY(45deg); */
    animation: rotate 1s ease-out infinite paused forwards alternate-reverse;
}

@keyframes rotate {
    /* 5% {transform: rotateY(0deg); height: 80%; background-color: rgba(26, 62, 138, 0.8);} */
    100% {transform: rotateY(90deg); height: 80%; background-color: rgb(10, 38, 99, 0.9);}
    /* 100% {transform: rotateY(90deg) scale(0.1,0.1); height: 20px;} */
}

.popup {
    display: flex;
    align-items: center;
    /* background-color: rgba(26, 62, 138, 0.8); */
    /* border-radius: 10px; */
    border: 1px solid white;
    width: 100%;
    height: 100%;
    position: fixed;
    overflow-y: scroll;
    transform-style: preserve-3d;
    transition: all 0.5s;
    /* animation: visibility 1s ease-out infinite paused forwards alternate-reverse; */
}

@keyframes visibility {
    0% {opacity: 1;}
    100% {opacity: 0;}
}

.left {
    transform: rotateY(90deg) translateX(-1px);
    transform-origin: center left;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 20px;
    height: 100%;
    background-color: white;
}

.right {
    transform: rotateY(90deg) translateX(-1px);
    transform-origin: center left;
    position: fixed;
    top: 0%;
    left: 100%;
    width: 20px;
    height: 100%;
    background-color: white;
}

/* .back {
    transform: rotateY(180deg) translateX(-20px) translateZ(20px);
    transform-origin: center left;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 20px;
    height: 100%;
    background-color: rgb(206, 206, 206);
} */

::-webkit-scrollbar {
    width: 16px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #537edb;
    background-clip: content-box;
    border-radius: 10px;
    border: 3px solid transparent;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #83a6f0;
    background-clip: content-box;
    border-radius: 10px;
    border: 3px solid transparent;
  }

/* Projects */

.projects {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    width: 100%;
    height: 95%;
}

.project {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    background-color: #537edb;
    opacity: 1;
    border-radius: 10px;
    width: 40%;
    height: 60%;
    /* width: 600px;
    height: 450px; */
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: calc(5% + 8px);
    margin-right: calc(5% - 8px);
    align-self: center;
    transition: all 1s;
}

.project:hover {
    background-color: #83a6f0;
}

.proj-link {
    width: 60%;
    margin-top: 5%;
    border-radius: 10px;
}

.project-thumb {
    display: block;
    width: 100%;
    border-radius: 10px;
    border: 1px solid black;
}

.title {
    color: white;
    font-size: larger;
    font-weight: 600;
    margin: 10px;
}

.description {
    /* display: none; */
}

.git-link {
    width: 32px;
    border-radius: 16px;
}

.git-icon {
    display: block;
    width: 100%;
}


/* Not using */
.project-card {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    background-color: #537edb;
    opacity: 1;
    border-radius: 10px;
    width: 80%;
    height: 90%;
    /* width: 600px;
    height: 90%; */
    margin: 5%;
    align-self: center;
    transition: height 1s, width 1s;
}

.project-card:hover {
    background-color: #83a6f0;
}

.popup-card {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(26, 62, 138, 0.9);
    border-radius: 10px;
    border: 1px solid white;
    width: 50%;
    height: 80%;
    position: fixed;
    top: 10%;
    left: 25%;
    overflow: hidden;
    transition: left 1s, width 1s;
}